<!DOCTYPE html>

<html>
     АААААААА Я ГЕЕЕЕЕЕЕЕЕЕЕЕЕЙ
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="/Account/Logout">logout</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
@RenderSection("scripts", required: false) 